doctype html
html(lang='en')
  head
    title Email Template
  body
    h1 Hello #{name}
    #container.col
      p You are amazing #{text}
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
